<mat-toolbar color="primary" class="toolbar">
    <img height="100px" src="../assets/images/logo.png">
    <div>
      <button mat-button class="nav-button" aria-label="">
        All items
      </button>
      <button mat-button class="nav-button" aria-label=""  [matBadge]="cartService.cart.length" matBadgePosition="after" matBadgeColor="accent">
        Cart
      </button>
      <button mat-button class="nav-button" aria-label="">
        Log In
      </button>
    </div>
    
  </mat-toolbar>